body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-menu-logo {
  font-family: 'Permanent Marker', cursive;
}

#content {
  margin-top: 40px;
}

#controls {
  position: fixed;
}

#pie-chart {
  width: 300px;
  height: 375px;
}

.close-button {
  margin-bottom: 10px;
  overflow: auto;
}

/* Semantic UI Monkey Patches */
.ui.segment {
  border-radius: 0;
}

.ui.segment.main {
  min-height: calc(100vh - 40px);
}

.ui.segment.aside {
  top: 14px;
  right: 14px;

  min-width: 330px;
}

.ui.menu.fixed.top {
  z-index: 2000;
}
